out
*.iws
*~
*.iml
*.ipr
.idea*
*.un~
*/stacktrace.log
*/*.tmproj
*/*.launch
*.txt
target
*/.DS_Store
*/reports/
*/*.orig
*/*.zip
\.orig\..*$
\.orig$
\.chg\..*$
\.rej$
\.conflict\~$
*.png
*.gif
*.jpg
*.js
*.tld
*.ico
*.css
UrlMappings.groovy
sitemesh.xml
applicationContext.xml
plugin.xml

.DS_Store

bookStore/web-app/plugins/*
testOptionalJars/web-app/plugins/*
.hg*

build-test-data/build/*
build-test-data/.gradle/*
